<!doctype html>
<html lang="en">
    <head>
      {{> ./head.html }}
      <link rel="stylesheet" href="/css/start.css?v=1.0">
    </head>
    <body>
      <div class="container main py-4">
        <div class="row">
          <div class="col">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="{{ image_url }}" width="245px" class="rounded" alt="Profile image">
              </div>
              <div class="flex-grow-1 ms-3">
                <ul class="list-group list-group-flush rounded">
                  <li class="list-group-item">ID: {{ userid }}</li>
                  <li class="list-group-item">Name: {{ name }}</li>
                  <li class="list-group-item">Email: {{ email }}</li>
                  <li class="list-group-item">Country: {{ country }}</li>
                  <li class="list-group-item">{{ product }} {{ type }}</li>
                  <li class="list-group-item">{{ user_profile_url }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 text-center">
          <div class="col row-title"><h3>Playlists</h3></div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <div class="card table-responsive table-scroll">
              <table class="table">
                <thead class="table-light">
                  <th class="d-none">ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Tracks</th>
                  <th>Public</th>
                  <th>URL</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                  <tr>
                    <td class="d-none">1</td>
                    <td>Ciccio</td>
                    <td>ewfef ef f</td>
                    <td>18</td>
                    <td>Yes</td>
                    <td><a href="#">Open</a></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th class="text-muted small">Showing X of Y items</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Ciao</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      {{> ./scripts.html }}
      <script src="/js/playlists.js"></script>
    </body>
</html>