<!doctype html>
<html lang="en">
    {{> ./head.html }}
    <body>
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            {{> ./header.html}}

            <main role="main" class="cover text-center">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ image_url }}" class="img-fluid rounded-start" alt="Profile image">
                      </div>
                      <div class="col-md-8 dark">
                        <div class="card-body">
                          <h5 class="card-title">{{ name }}</h5>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item dark">Email: {{ email }}</li>
                            <li class="list-group-item dark">Country: {{ country }}</li>
                            <li class="list-group-item dark">{{ product }} {{ type }} (ID: {{ userid }})</li>
                          </ul>
                          <p class="card-text">
                            <small class="text-muted">
                                <a href="{{ user_profile_url }}" target="_blank">Spotify web profile</a>
                            </small>
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row bg mb-3 mt-5">
                    <h3>Current playlists</h3>
                </div>
                <div class="row dark">
                    <table id="playlists" class="cell-border compact stripe" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Tracks</th>
                                <th>Public</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </main>

            {{> ./footer.html }}
        </div>
        {{> ./scripts.html }}
        <script src="/js/playlists.js"></script>
    </body>
</html>