<!doctype html>
<html lang="en">
    <head>
      {{> ../head.html }}
      <link rel="stylesheet" href="/css/index.css?v=1.0">
    </head>
    <body class="body-centered">
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="72" height="57">
          <h1 class="display-5 fw-bold">Spotify Playlist Maker</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Error: {{ error }}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" onclick="location.href='/'" class="btn btn-primary btn-lg px-4 gap-3">
                Back Home
              </button>
            </div>
          </div>
        </div>
        {{> ../scripts.html }}
    </body>
</html>